go 1.25.0

use (
	./pkg
	./pkg/audit
	./pkg/email
	./services/agent-google-business
	./services/agent-telegram
	./services/agent-vk
	./services/agent-yandex-business
	./services/api
	./services/orchestrator
	./test/integration
	./tools/lint-rbac
	./tools/nourl
	./tools/oapi-validate-tags
)
